p{
    color: blue;
    background-color: rgb(77, 77, 136);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-left: 10px 30px 20px;
    border-color: saddlebrown;
    border-radius: 30px;
}
h1{
    color:seagreen;
    background-color: burlywood;
    border-color: cyan;
    border-width: 10px 20px 10px 20px; border-radius: 20px;

}
h2{
    color: slateblue;
    background-color: darkcyan;
    border: 10px 20px 30px;
    border-radius: 10px;
    
}